body {
    background-color: lightblue;
    margin-top: 6%;
}

.responsive-image {
  height: auto;
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-bottom: 6%;
}
.responsive-image-small {
  display: inline-block;
  height: auto;
  width: 3%;
  margin: 0 auto;
  margin-right: 4px;
  margin-left: 4px;
   }
.center-text {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: black;
}
.center-images {
  text-align: center;
  font-size: 0;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 4%;
  left: 0;
}

@media screen and (max-width: 760px) {
body {
    margin-top: 1%;
}
.responsive-image {
  height: auto;
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1%;
}
.responsive-image-small {
  display: inline-block;
  height: auto;
  width: 3%;
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 3px;
  margin-left: 3px;
   }
.center-text {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: black;
}
.center-images {
  text-align: center;
  font-size: 0;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 1%;
  left: 0;
  padding: 1rem;
  text-align: center;
  }
}

@media screen and (orientation:portrait) {
body {
    margin-top: 15%;
    }
.responsive-image {
  height: auto;
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 12%;
  }
.responsive-image-small {
  width: 11%;
  margin: 0 auto;
  margin-top: 6%;
  margin-right: 4px;
  margin-left: 4px;
  }
.footer {
  position: absolute;
  right: 0;
  bottom: 5%;
  left: 0;
  padding: 1rem;
  text-align: center;
  }
}
